<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
</head>

<body>
  <div id="app">
    <div class="holder headline">
      Travel App
    </div>
    <div class="holder zip">
      <label for="zip">Enter Zipcode here</label>
      <input type="text" id="zip" placeholder="enter zip code here" value="">
      <label for="start">Trip date:</label>
      <input type="date" id="start" name="trip-start" value="2020-07-22" min="2020-03-01" max="2099-12-31">
    </div>
    <div class="holder feel">
      <!-- <textarea class= "myInput" id="feelings" placeholder="Enter your feelings here" rows="9" cols="50"></textarea> -->
      <button id="generate" type="submit"> Generate </button>
    </div>
    <div class="holder entry">
      <div class="title">Most Recent Entry</div>
      <div id="entryHolder">
        <p id="demo"></p>
        <div id=>Latitude: </div>
        <div id="date"></div>
        <div id=>Longitute </div>
        <div id="temp"></div>
        <div id=>Country</div>
        <div id="content"></div>
      </div>
    </div>
  </div>
</body>

</html>