<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
  <title>Travel App</title>
</head>

<body>
  <div id="app">
    <div class="header-text">
      <h1>Travel App</h1>
      <h2>Make it easier to plan your future trip!</h2>
    </div>
    <div class="row">
      <div class="inputs">
        <div class="topLabelCity">
          <label for="city">Enter City here</label>
          <input type="text" id="city" placeholder="enter city here" value="">
        </div>
        <div class="topLabelStart">
          <label for="start">Trip start date:</label>
          <input type="date" id="start" name="trip-start" value="2020-03-01" min="2020-03-01" max="2099-12-31">
        </div>
        <div class="topLabelEnd">
          <label for="end">Trip end date:</label>
          <input type="date" id="end" name="trip-end" value="2020-03-02" min="2020-03-01" max="2099-12-31">
        </div>
      </div>
      <button id="generate" type="submit"> Generate </button>
    </div>
    <div class="output hidden">
      <div>
        <img id="image" src='' alt="City picture of your next trip">
      </div>
      <div id="info">
        <div id=>Destination: </div>
        <div id="destination"></div>
        <p id="countdown"></p>
        <p id="duration"></p>
        <div id="country"></div>
        <div id=>Temperature on arrival day</div>
        <div id="temperature"></div>
      </div>
    </div>
  </div>
</body>

</html>