body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.header-text{
    border-radius: 10px 10px 0 0;
    // padding-left: 30px;
    text-align: left;
    background: #659DBD;
    // color: #659DBD;
    font-size: 24px;
    background-size: cover;
}

#app{
    display: grid;
    border-radius: 10px 10px 0 0;
    // grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    // width: 80vh;
    background: #659DBD;
    color: #ffffff;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.output{
    // margin: auto;
    // border: solid rgb(236, 233, 233) 2px;
    // background: #DAAD86;
    // justify-content: center;
}

img {
    border-radius: 7px 7px 7px 7px;
    margin-right: 20px;
    max-height: 100%;
    max-width: 100%; 
    display: block;
}

#info{
    margin-left: 20px;
}

// .entry{
//     background: rgba(59, 74, 107, .4);
// }

/*  Basic Styling To Override Default For Basic HTML Elements */
// label{
//     display:block;
//     font-size: 27px;
// }
.topLabelCity {
    display: block;
}

.topLabelDate {
    display: block;
}

.output {
    display: flex;
}

input{
    // display:block;
    height: 60px;
    width: 200px;
    background:#DAAD86;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

.entries{
    display: flex;
    gap: 10px;
    // flex-wrap: nowrap;
}

button{
    display: block;
    width: 150px;
    height: 60px;
    background: #3b4a6b;
    color: #ffffff;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/
// input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #ffffff; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 